
# Devenv
.devenv*
devenv.local.nix
**/node_modules/
.DS_Store
.aider*
yarn.lock
workspaces/mySwap/node_modules/
workspaces/mySwap/src/abis
workspaces/mySwap/src/types/v3
.aider.chat.history.md
.vercel
