# Devenv
.devenv*
devenv.local.nix

.DS_Store

# Include these from 28SeptAssignment branch
yarn.lock
workspaces/mySwap/node_modules/
workspaces/mySwap/src/abis
workspaces/mySwap/src/types/v3

# Include these from master branch
.aider.conf.yml
**/node_modules/
