.app {
  font-family: 'Roboto', sans-serif;
  color: #E5E5E5;
  background: #282828;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.conversion-rates-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.swap-portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px #1c1c1c, -10px -10px 20px #343434;
  border-radius: 20px;
}
