body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: #282828;
  color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

p {
  margin-bottom: 1.5em;
}

ol, ul {
  padding-left: 2em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}
