.portfolio {
  width: 20%;
  height: 30%;
  background: #282828;
  color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px; /* Add left margin */
  padding: 20px;
}

.portfolio-title {
  font-size: 1.5em;
  color: #E5E5E5;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.portfolio-table {
  width: 100%;
  border-collapse: collapse;
}

.portfolio-table th, .portfolio-table td {
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.portfolio-table th {
  background: #282828;
  color: #E5E5E5;
  padding: 10px;
  text-align: left;
}
